@import "./reset.scss";
@import "bootstrap/scss/bootstrap";

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Overlock+SC&display=swap');
//Icons

:root{
  --cor-primaria : rgb(133, 191, 203);
  --cor-secundaria: rgb(16, 47, 67);
  --cor-terciaria: #CEF7FB;

  --cor-branco: #e0e0e0;
  --cinza-um: #d9d9d9;
  --cinza-dois: #d9d9d9aa;
  --cinza-tres: #d9d9d9bb;
  --cinza-quatro: #424242cc;
  --cinza-cinco: #424242;

  --font-um: "Orelega One", serif;
  --font-dois: "Overlock SC", sans-serif;;
  
  font-size: 16px;
}

*{
  font-family: var(--font-um); 
  color: var(--cor-secundaria);
  box-sizing: border-box;
}

@import 'header.scss';
@import 'body.scss';
@import 'footer.scss';

@import 'generals.scss';
@import 'form-and-login.scss';
@import 'dashboard.scss';
@import 'patientListScreen.scss';
@import 'registerPatient.scss';
@import 'waitScreen.scss';

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
