#dashboard{
  width: 98%;
  height: 95%;
  margin: auto;
}

.dashboard-main{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  column-gap: 1rem;
  // align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 0.5rem 2rem;
}

.dashboard-sections{
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  box-sizing: border-box;
  text-align: center;
}

.list-patients{
  display: flex;
  flex-direction: column;

  height: 150px;
  padding: 0 5px;
  border: 3px solid var(--cor-primaria);
  border-radius: 6px;

  background-color: var(--cor-secundaria);
  overflow-y: auto;
}
@media screen and (display-mode: fullscreen) {
  .list-patients{
    height: 240px;
  }  
}

.list-patients::-webkit-scrollbar{
  background-color: var(--cor-secundaria);
  width: 7px;
}
.list-patients::-webkit-scrollbar-thumb{
  background-color: var(--cor-branco);
  border-radius: 8px;
}
.patient{
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 30px;

  padding: 0.1rem 0.5rem;
  border-bottom: 0.1px dotted var(--cor-terciaria);
  overflow: hidden;
}
.patient>*{
  display: inline-block;
  color: var(--cor-primaria);
}
.patient-name{
  font-family: var(--font-dois);
}

.register-patient{
  grid-column: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
}

.register-patient>label{
  font-family: var(--font-dois);
  margin-bottom: 10px;
}

.register-patient>.buttons{
  margin-top: 10px;
}

.register-patient>img{
  width: 7rem;
  margin: auto;
}

.functionalities{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}