#login-clinica{
  display: flex;

  height: 100%;
  width: 100%;
}

#login-clinica>form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  
  margin: auto;
  padding-bottom: 2rem;
  width: 50%;
}

#login-clinica>form>label{
  display: flex;
  flex-direction: column;

  width: 50%;
  margin-bottom: 5px;
}
